@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #005347;
}

body {
    background-color: rgb(122, 52, 24);
    height: 100vh;
    margin: 0;
    display: flex;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    background-color: #1aa791;
}

.display {
    background-color: #eafcf9;
    border-color: #eafcf9;
    margin: 0 2px 2px 2px;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 1rem;
    padding-bottom: 1rem;
    box-sizing: border-box;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;

}

.calculator-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
    flex: 0 0 500px;
}

.calculator-container > div {
    display: flex;
    width: 100%;
    flex: 1 0 0;
} 

.calculator-container button{
    flex: 1 0 0;
    margin: 2px;
    font-size: 40px;
    border:none;
}

.calculator-container button:hover{
    background-color: aqua;
    
}

.calculator-container div button:first-child {
    margin-left: 0;
}

.calculator-container div button:last-child {
    margin-right: 0;
}

.fourth-row button:first-child {
    border-bottom-left-radius: 2rem;
}

.fourth-row button:last-child{
    border-bottom-right-radius: 2rem;
}

@media screen and (max-width: 499px) {
    .display {
        font-size: smaller;
        
    }
    .calculator-container div button {
        font-size: smaller;
    }
    .calculator-container {
        flex: 0 0 300px;
        height: 45%;
    }
  }