body {
    background-color: rgb(122, 52, 24);
    height: 100vh;
    margin: 0;
    display: flex;
    font-size: 40px;
    justify-content: center;
    align-items: center;
}

.display {
    background-color: white;
    border-color: white;
    margin: 0 2px 2px 2px;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 1rem;
    padding-bottom: 1rem;
    box-sizing: border-box;

}

.calculator-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-items: center;
    height: 50%;
    flex: 0 0 500px;
}

.calculator-container > div {
    display: flex;
    width: 100%;
    flex: 1 0 0;
} 

.calculator-container button{
    flex: 1 0 0;
    margin: 2px;
    font-size: 40px;
    
}

.calculator-container div button:first-child {
    margin-left: 0;
}

.calculator-container div button:last-child {
    margin-right: 0;
}
